#about-tab {
  flex-direction: row;
  justify-content: center;
}

#about-tab section {
  padding: 1rem;
  max-width: 100rem;
}

#bio-img {
  float: left;
  margin-right: 1rem;
  margin-bottom: .2rem;
  width: 12.3rem;
}

#about-bio {
  text-align: left;
  flex: 1 1 70%;
}

#about-tab img {
  border: .1rem solid #CCC;
}

#about-tab h6 {
  color: #FFF;
  font-size: 1.7rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;  
}

#about-tab p {
  font-size: 1rem;
  max-width: 45rem;
  color: #EEE;
  margin-bottom: 1rem;
}

#about-tab blockquote, #about-tab blockquote p {
  text-align: center;
  color: #CCC;
  font-size: 1.4rem;
}

#about-tab blockquote a { 
  transition-duration: .15s;
  transition-property: color, text-shadow;
  cursor: pointer;
}

#about-tab blockquote a:hover {
  color: #FFF;
  text-shadow: 0 0 1rem #ca80d3;
}

#about-tab a {
  color: #CCC;
}

#about-tab p a {
  color: #4dc1f9;
}

#about-tab a:hover {
  color: #ca80d3;
}

.highlight-purple {
  color: #ca80d3;
}

.highlight-blue {
  color: #4dc1f9;
}