#experiments-tab {
  flex-direction: column;
}

.experiment {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0;
  margin-top: .6rem;
  cursor: pointer;
  // border-top: .6rem solid #444;
  transition-duration: .15s;
  transition-property: background-color, color, border-color;
  z-index: 10;
}

h1 + .experiment {
  border-top: none;
}

.experiment a {
  height: 10rem;
  overflow: hidden;
  position: relative;
}

.experiment .name {
  position: absolute;
  top: .5rem;
  left: 4rem;
  z-index: 100;
  font-style: italic;
  font-size: 2.1rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: #DDD;
  text-shadow: 0 0 .2rem #000;
}

.experiment .description {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  min-height: 1.5rem;
  transition: .25s opacity;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 0;
  display: none;
  padding: .2rem .5rem;
  border-radius: .2rem;
}

.description p {
  color: #CCC;
  max-width: 40rem;
}

.experiment .image {
  overflow: hidden;
  position: absolute;
  top: -20rem;
  bottom: -20rem;
  right: -20rem;
  left: -20rem;
  transform: rotate(10deg);
  background-repeat: repeat;
  background-position: 0rem -10rem;
  background-clip: padding-box;
  z-index: -1;
  opacity: .55;
  transition: .15s opacity;
  animation-duration: 100s;
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
}

.experiment .tags {
  position: absolute;
  top: 1rem;
  right: 4rem;
  z-index: 10;
}

.experiment .tag {
  padding: .2rem .5rem;
  color: #CCC;
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
}


.experiment:hover {
  // background-color: #555;
  // border-color: hsla(202, 65%, 66%, 1);
  box-shadow: 0 0 1rem .1rem #000;
}

@keyframes translate {
  from {
    background-position: 0rem 0rem;
  }
  to {
    background-position: 0 -1000rem;
  }
}

.experiment:hover .tag {
  color: #DDD;
}

.experiment:hover .image {
  opacity: .75;
  animation-play-state: running;
}

.experiment:hover .name, .experiment:active .name {
  color: #FFF;
}

.experiment:hover .description, .experiment:active .description {
  display: block;
  opacity: 1;
}