

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 0 .2rem #000;
  font-size: 3.5rem;
  color: #CCC;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  line-height: 100%;
  flex: 0 0 auto;
}

#social-nav {
  padding: 0 .5rem;
  flex: 0 0 auto;
}

#social-nav a {
  color: #999;
  font-size: .9rem;
  transition-duration: .15s;
  transition-property: color, text-shadow;
  cursor: pointer;
}

#social-nav a:hover {
  color: #FFF;
  text-shadow: 0 0 1rem #ca80d3;
}

#tabs-nav {
  display: flex;
  padding-top: 1rem;
  margin-bottom: -.5rem;
  z-index: 100;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
}

#tabs-nav > a {
  color: #BBB;
  letter-spacing: .2rem;
  cursor: pointer;
  padding: .3rem 1rem;
  transition-duration: .15s;
  transition-property: color, border-color;
  border-bottom: .5rem double transparent;
}

#tabs-nav a:hover {
  color: #EEE;
  text-shadow: 0 0 1rem #ca80d3;
  border-bottom-color: #7c4f82;
}

#tabs-nav a.active {
  color: #FFF;
  border-bottom: .5rem solid #222;
  text-shadow: 0 0 1rem #000;
}
#tabs-nav a.active:hover {
  color: #FFF;
  text-shadow: none;
}