#history-tab {
  flex-direction: column;
  padding: 1rem 0;
}

.history-summary {
  text-align: left;
  display: flex;
  margin-bottom: 2rem;
}

.history-summary .summary-spacer {
  flex: 0 1 15%;
}

.history-summary p {
  color: #EEE;
  font-size: 1rem;
  max-width: 45rem;
  flex: 1 1 auto;
  padding-right: 5%;
}

.history-entry {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.history-entry:hover .history-node {
  background-color: #ca80d3;
}
.history-entry:hover .history-description p {
  border-color: #ca80d3;
}
.history-entry:hover .history-description .history-img {
  border-left-color: #ca80d3;
}

.history-dates {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  margin-top: -.4rem;
  flex: 0 .2 15%;
  text-align: right;
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.history-start {
  
}

.history-end {
  
}

.history-timeline {
  flex: 0 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.history-node {
  border: 2px solid #ca80d3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: .15s background-color;
}

.history-line {
  height: 100%;
  width: 2px;
  background-color: #ca80d3;
}

.history-description {
  margin-top: -2rem;
  margin-bottom: 2rem;
  flex: 1 .1 50%;
  text-align: left;
  color: #CCC;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.history-description p {
  font-size: 1rem;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border-left: .1rem solid transparent;
  transition: .15s border-color;
}

.history-description .history-img {
  text-align: center;
  overflow: hidden;
  max-width: 40rem;
  margin-top: -1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border-left: .1rem solid transparent;
}

.history-img img {
  width: 30vw;
  min-width: 22rem;
  margin-bottom: .2rem;
  border: .1rem solid #222;
  transition: .15s border-color;
}

.history-img img:hover {
  border-color: #4dc1f9;
}