#history-tab {
  flex-direction: column;
  padding: 1rem 0;
}

#history-summary {
  display: flex;
  margin-bottom: 2rem;
}

#history-summary p {
  color: #EEE;
  font-size: 1.2rem;
  padding: 0 1rem ;
  max-width: 50rem;
  flex: 1 1 50%;
}

.history-entry {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.history-images {
  text-align: center;
  max-width: 40rem;
}

.history-spacer {
  flex: .3 0 1rem;
}

.history-images img {
  min-width: 1rem;
  max-width: 40vw;
  margin-bottom: 1.5rem;
  border: .2rem solid #AAA;
  transition: .15s border-color;
}

.history-images a:hover img {
  border-color: #4dc1f9;
}

.history-dates {
  font-family: 'Dosis', sans-serif;
  font-size: 2.2rem;
  margin-top: -1rem;
  margin-left: -2rem;
  letter-spacing: .1rem;
  text-align: left;
  color: #999;
  font-weight: bold;
}

.history-timeline {
  flex: 0 0 14px;
  margin-right: 3rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.history-node {
  border: 2px solid #ca80d3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: .15s background-color;
}

.history-line {
  height: 100%;
  width: 2px;
  background-color: #ca80d3;
}

.history-description {
  flex: 1 0 20%;
  text-align: left;
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.history-description p {
  font-size: 1rem;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border-left: .1rem solid transparent;
  transition: .15s border-color;
}