@media (min-width: 320px) and (max-width: 640px) {
  html {
    font-size: 50%;
  }
  .tabs a {
    padding: .4rem 1rem;
  }
  header h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: -3.4rem;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  html {
    font-size: 75%;
  }
  .tabs a {
    padding: .4rem 2rem;
  }
  header h1 {
    font-size: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: -4rem;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  html {
    font-size: 85%;
  }
  .tabs a {
    padding: .4rem 2.5rem;
  }
  header h1 {
    font-size: 3.75rem;
    margin-top: 1.7rem;
    margin-bottom: -4.1rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
  .tabs a {
    padding: .4rem 3rem;
  }
  header h1 {
    font-size: 4rem;
    margin-top: .9rem;
    margin-bottom: -4.4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #333;
  font-family: 'Dosis', sans-serif;
  min-width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 1rem;
}

header h1 {
  font-family: 'Sarala', sans-serif;
  text-align: right;
  text-shadow: 0 0 1rem #444;
  color: #4dc1f9;
  z-index: 1000;
}

p a {
  color: #4dc1f9;
}
p a:hover {
  color: #ca80d3;
}

#social-nav {
  margin-left: 1rem;
}

#social-nav a {
  color: #CCC;
  font-size: 1rem;
  margin: 0 .1rem;
  transition-duration: .15s;
  transition-property: color, text-shadow;
  cursor: pointer;
}

#social-nav a:hover {
  color: #FFF;
  text-shadow: 0 0 1rem #ca80d3;
}