@media (min-width: 0px) and (max-width: 639px) {
  html {
    font-size: 85%;
  }
  #tabs-nav a {
    /*padding: .3rem .4rem;*/
    /*font-size: .8rem;*/
  }
  #social-nav {
    display: none;
  }
  header h1 {
    padding-left: 1rem;
    font-size: 2rem;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  html {
    font-size: 85%;
  }
  #social-nav {
    display: none;
  }
  header h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  html {
    font-size: 90%;
  }
  #social-nav a {
    font-size: .8rem;
  }
  header h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
  header h1 {
    font-size: 3.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  min-width: 320px;
}

#viewport {
  border-top: .5rem double #222;
  border-bottom: .5rem double #222;
  background-color: #444;
}

.tab-container {
  overflow: hidden;
  display: none;
  margin: 1rem 0;
  background-color: #444;
}

.tab-container.active {
  display: flex;
}

#resume-tab {
  height: 85vh;
  margin: 0;
}

#resume-tab .fallback {
  display: none;
}

#resume-tab.no-pdf embed {
  display: none;
}

#resume-tab.no-pdf .fallback {
  display: block;
}

#portfolio-tab {
  margin-top: 0;
}

a {
  transition: .15s color;
}

p a {
  color: #4dc1f9;
}
p a:hover {
  color: #ca80d3;
}