#portfolio-tab {
  flex-direction: column;
  margin-top: 0;
}

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0;
  margin-top: .6rem;
  transition-duration: .15s;
  transition-property: background-color, color, border-color;
  z-index: 10;
  border-top: .2rem solid #222;
}

.portfolio a {
  height: 10rem;
  overflow: hidden;
  position: relative;
}

.portfolio .name {
  position: absolute;
  font-variant: all-small-caps;
  top: .5rem;
  left: 2rem;
  max-width: 55%;
  z-index: 100;
  line-height: 2rem;
  font-size: 2.2rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: #EEE;
  text-shadow: 0 0 .2rem #000;
  font-family: 'Dosis', sans-serif;
}

.portfolio .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: .9rem;
  padding: .5rem 1rem;
  padding-left: 2rem;
  color: #DDD;
  transition: .15s color;
  text-shadow: 0 0 .2rem #000;
  background-color: rgba(0, 0, 0, .3);
}

.portfolio .image {
  overflow: hidden;
  position: absolute;
  top: -20rem;
  bottom: -20rem;
  right: -20rem;
  left: -20rem;
  transform: rotate(10deg);
  background-repeat: repeat;
  background-position: 0rem -10rem;
  background-clip: padding-box;
  z-index: -1;
  opacity: .5;
  transition: .15s opacity;
  animation-duration: 100s;
  animation-name: translate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
}

.portfolio .tags {
  position: absolute;
  text-align: right;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.portfolio .tag {
  padding: .2rem .5rem;
  line-height: 1rem;
  color: #CCC;
  font-size: .9rem;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  color: #EEE;
}

@keyframes translate {
  from {
    background-position: 0rem 0rem;
  }
  to {
    background-position: 0 -500rem;
  }
}

.portfolio a:hover .image, .portfolio:active .image {
  opacity: .7;
  animation-play-state: running;
}