#resume-tab {
  height: 85vh;
  margin: 0;
  flex-direction: column;
  overflow: auto;
}
#resume-pdf {
  display: none;
}
#resume-fallback {
  padding: 1rem;
  color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
#resume-images {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.is-not-mobile #resume-fallback {
  display: none;
}
.is-not-mobile #resume-pdf {
  height: 100%;
  display: flex;
}
