#tabs-nav {
  display: flex;
  /*border-top: .4rem double #CCC;*/
  z-index: 10000;
  font-family: Dosis, sans-serif;
  font-size: 1.2rem;
}

#tabs-nav a {
  color: #CCC;
  letter-spacing: .2rem;
  cursor: pointer;
  padding: .2rem 2rem;
  transition-duration: .15s;
  transition-property: border-bottom-color, background-color, color;
  border-top: .3rem double transparent;
  border-bottom: .5rem double #222;
  border-right: .1rem solid transparent;
  border-left: .1rem solid transparent;
}

#tabs-nav a:hover {
  color: #EEE;
  text-shadow: 0 0 1rem #ca80d3;
  border-bottom-color: #7c4f82;
}

#tabs-nav a.active {
  background-color: #444;
  color: #FFF;
  border-bottom-color: transparent;
  border-top: .3rem double #222;
  border-right: .1rem solid #222;
  border-left: .1rem solid #222;
  text-shadow: 0 0 1rem #000;
  /*box-shadow: 0 -.1rem .2rem 0 #777;*/
}
#tabs-nav a.active:hover {
  color: #FFF;
  text-shadow: none;
}
#tabs-nav a.active:first-child {
  border-left-color: transparent;
}
#tabs-nav a.active:last-child {
  border-right-color: transparent;
}

#tabs-nav .left-spacer {
  flex: 1 0 1%;
  border-bottom: .2rem solid #222;
}

#tabs-nav .right-spacer {
  flex: 1 0 50%;
  border-bottom: .2rem solid #222;
}

.tab-container {
  overflow: hidden;
  display: none;
  padding-bottom: .5rem;
  margin-bottom: 9rem;
  border-bottom: .5rem double #222;
  background-color: #444;
}

.tab-container.active {
  display: flex;
}