#work-tab {
  flex-direction: column;
  padding: 2rem 0;
}

.work-summary {
  text-align: left;
  display: flex;
  margin-bottom: 2rem;
  padding-left: 15%;
  padding-right: 5%;
}

.work-summary p {
  color: #EEE;
  font-size: 1.4rem;
  max-width: 45rem;
}

.work-entry {
  display: flex;
  flex-direction: row;
  min-height: 50px;
}

.work-entry:hover .work-node {
  background-color: #ca80d3;
}
.work-entry:hover .work-description p {
  border-color: #ca80d3;
}

.work-dates {
  font-size: 1.2rem;
  margin-top: -.4rem;
  flex: 0 .2 15%;
  text-align: right;
  color: #CCC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.work-start {
  
}

.work-end {
  
}

.work-timeline {
  flex: 0 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.work-node {
  border: 2px solid #ca80d3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: .15s background-color;
}

.work-line {
  height: 100%;
  width: 2px;
  background-color: #ca80d3;
}

.work-description {
  margin-top: -2rem;
  margin-bottom: 2rem;
  flex: 1 .1 50%;
  text-align: left;
  color: #CCC;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.work-description p {
  font-size: 1.2rem;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border-left: 1px solid transparent;
  transition: .15s border-color;
}